<a href="https://colab.research.google.com/github/omarcos0708/projeto_roof_imoveis/blob/main/projeto-roof.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##importando tudo

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import plotly.express as px
import folium

In [ ]:
#carregando dataset
data = pd.read_csv('/content/kc_house_data.csv')
data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

#**Possíveis Insigh**

lista de insigths possiveis para o projeto
1. Quantas casas estão disponíveis para compra?
2. Qual a casa mais cara ( casa com o maior valor de venda )
5. Qual a casa com o maior número de quartos?
7. Quantas casas possuem 2 banheiros?
8. Qual o preço médio de todas as casas no conjunto de dados?
9. Qual o preço médio de casas com 2 banheiros?
10. Qual o preço mínimo entre as casas com 3 quartos?
11. Quantas casas possuem mais de 300 metros quadrados na sala de estar?
12. Quantas casas tem mais de 2 andares?
13. Quantas casas tem vista para o mar?

## 1 quantas casas estao disponiveis ?

In [ ]:
num_houses_unique = data['id'].nunique()
print('O numero de imooveis disponiveis sao de {}'.format(num_houses_unique))

O numero de imooveis disponiveis sao de 21436

## 2 Qual a casa mais cara? (casa com o maior valor de venda)

In [ ]:
# 1. Selecionar a coluna "id", "price", ordenar as casas pela coluna "price" em ordem decrescente 
# 2. escolher o primeiro imovel da lista

house_most_expensive = data[['id', 'price']].sort_values('price', ascending=False).loc[0,'id']

In [ ]:
print('a casa com maior valor de venda é a de numero: {}'.format(house_most_expensive))

a casa com maior valor de venda é a de numero: 7129300520

## 3 Qual a casa com o maior número de quartos?

In [ ]:
# 1. Selecionar a coluna "id", "bedroom"
# 2. Ordenar os imóveis pelo numero de quartos em ordem decrescente
# 3. Selecionar a primeira coluna "id"
df = data[['id', 'bedrooms']].sort_values('bedrooms', ascending=False)
print('casa co maior numero de banheiros: {}'.format(df.iloc[0, 0]))

casa co maior numero de banheiros: 2402100895

## 4 Quantas casas possuem 2 banheiros?

In [ ]:
# 1. Filtrar linhas (imóveis) que possuem 2 banheiros.
# 2. Contar o número de linhas do dataset
df = data.loc[data['bathrooms'] == 2, :]
df
num_houses = len(df)
print('numero de casas com 2 banheiros: {}'.format(num_houses))

numero de casas com 2 banheiros: 1930

## 5 Qual o preço médio de todas as casas no conjunto de dados?

In [ ]:
# 1. Calcular o preço médio da coluna "price"mean_price = np.round(data['price'].mean(), 2)
mean_price = np.round(data['price'].mean(), 2) # OBS: o numero dois informa a função que sao duas casas decimais no final
mean_price
print('preço medio das casas sao: ${}'.format(mean_price))

preço medio das casas sao: $540088.14

## 6 Qual o preço médio de casas com 2 banheiros?

In [ ]:
# 1. Selecionar imóveis com 2 banheiros.
# 2. Calcular o preço médio da coluna "price" do novo conjunto de dados
media_2_banheiros = np.round(data.loc[data['bathrooms'] == 2,'price'].mean(),2)
print('a media de preço das casas com 2 banheiros é: ${}'.format(media_2_banheiros))

a media de preço das casas com 2 banheiros é: $457889.72

## 7 Qual o preço mínimo entre as casas com 3 quartos?

In [ ]:
# 1. Selecionar imóveis com 3 bathrooms.
# 2. Calcular o menor preço da coluna "price" do novo conjunto de dados
min_price = np.round(data.loc[data['bedrooms'] == 3, 'price'].min(), 2)
print('casa mais barata com 3 quartos custa: ${}'.format(min_price))

casa mais barata com 3 quartos custa: $82000.0

##8 Quantas casas possuem mais de 300 metros quadrados na sala de estar?

In [ ]:
# 1. Selecionar imóveis com mais de 300 sqft_living.
# 2. Contar o número de imóveis nesse novo conjunto de dados.
houses = data.loc[data['sqft_living'] > 300, 'id'].shape[0]
print('tem {} casas com mais de 300 metros quadrados'.format(houses))

tem 21612 casas com mais de 300 metros quadrados

##9 Quantas casas tem mais de 2 andares?

In [ ]:
# 1. Selecionar imóveis com a coluna 'floors' maior que 2.
# 2. Contar o número de imóveis nesse novo conjunto de dados.
houses = data.loc[data['floors'] > 2, 'id'].shape[0]
print('exietem {} casas com mais de 2 anadares'.format(houses))

exietem 782 casas com mais de 2 anadares

##10 Quantas casas tem vista para o mar?

In [ ]:
# 1. Selecionar imóveis com a coluna 'waterfront' igual a 1.
# 2. Contar o número de imóveis nesse novo conjunto de dados.
houses = data.loc[data['waterfront'] == 1, 'id'].shape[0]
print('existem {} com mais de 2 andares'.format(houses))

existem 163 Houses with the number of floors grater than 2

#**cuidando dos dados**

In [ ]:
data.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [ ]:
#adcionando coluna no df para o tratamento de dados
data['dormitory_type'] = data['bedrooms'].apply(lambda x:'studio' if x == 1else 'apartament' if x == 2 else 'house')

preço por area vivida

In [ ]:
data['price_areaLiv'] = data['price']/data['sqft_living']
data['price_sqft_lot'] = data['price']/data['sqft_lot']

#**Analisando casas a serem compradas**

## vizualização grafica

In [ ]:
#aqui vou analisar os imoveis por localização
#df_map = folium.Map(location=(47.4034, -122.167), zoom_start=5)
#for index,row in data.iterrows():
#  folium.Marker(location =(row['lat'], row['long']),popup=row['id']).add_to(df_map)
#display(df_map)

##filtrando casas para comprar

In [ ]:
#filtrando dataframe
condicao1 = data.loc[data['bedrooms'] == 4]
condicao2 = condicao1.loc[data['floors'] == 2.0]
condicao3 = condicao2.loc[data['bathrooms'] == 3]
condicao4 = condicao3.loc[data['sqft_living'] > 2430]
condicao5 = condicao4.loc[data['sqft_lot'] >=6700]
condicao6 = condicao5.loc[data['price'] < 500000]
condicao7 = condicao6.loc[data['price_areaLiv'] < 200]
condicao8 = condicao7.loc[data['yr_built'] > 2000]
condicao9 = condicao8.loc[data['price_sqft_lot'] > 50]
condicao9

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,dormitory_type,price_areaLiv,price_sqft_lot
1229,5104511600,20141112T000000,457000.0,4,3.0,2800,7845,2.0,0,0,...,2002,0,98038,47.3544,-122.013,2800,6977,house,163.214286,58.253665
2393,5104511840,20140827T000000,449950.0,4,3.0,2800,6977,2.0,0,0,...,2003,0,98038,47.3542,-122.014,2800,6600,house,160.696429,64.490469
4445,1858600042,20150429T000000,360000.0,4,3.0,2483,6870,2.0,0,0,...,2005,0,98030,47.3627,-122.199,1943,6434,house,144.985904,52.401747
7243,5104511630,20140812T000000,444000.0,4,3.0,2800,7198,2.0,0,0,...,2002,0,98038,47.3538,-122.013,3610,7845,house,158.571429,61.683801
11847,3343901401,20140718T000000,494500.0,4,3.0,3760,8804,2.0,0,0,...,2002,0,98056,47.5161,-122.191,1960,7225,house,131.515957,56.167651

#*casas escolhidas para comprar*

In [ ]:
#5104511600
#5104511840
#1858600042
#5104511630
#3343901401

In [ ]:
#localizando as casas selecionadas
df_map = flium.Map(olocation=(47.4034, -122.167), zoom_start=10)
for index,row in condicao9.iterrows():
  folium.Marker(location =(row['lat'], row['long']),popup=row['id']).add_to(df_map)
display(df_map)

#**Analisando casas para nao comprar**

##filtrando casas para nao comprar

In [ ]:
filtro1 = data.loc[data['bedrooms'] < 3]
filtro2 = filtro1.loc[data['floors'] < 2.0]
filtro3 = filtro2.loc[data['bathrooms'] < 3]
filtro4 = filtro3.loc[data['sqft_living'] < 1800]
filtro5 = filtro4.loc[data['sqft_lot'] < 4000]
filtro6 = filtro5.loc[data['price'] > 700000]
filtro7 = filtro6.loc[data['price_areaLiv'] > 100]
filtro8 = filtro7.loc[data['yr_renovated'] == 0]
filtro9 = filtro8.loc[data['yr_built'] < 1920]
filtro9

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,dormitory_type,price_areaLiv,price_sqft_lot
4181,7986400945,20141010T000000,775000.0,2,1.0,1010,3600,1.0,0,0,...,1913,0,98107,47.6641,-122.357,1540,3600,apartament,767.326733,215.277778
5616,2867100005,20150407T000000,710000.0,2,1.0,1700,3040,1.5,0,0,...,1914,0,98119,47.6442,-122.369,1620,3230,apartament,417.647059,233.552632
10366,1794500695,20150304T000000,750000.0,2,1.5,1110,3600,1.0,0,0,...,1904,0,98119,47.6382,-122.359,1670,5400,apartament,675.675676,208.333333
14098,3867400180,20150327T000000,715000.0,2,1.0,1000,3513,1.0,0,4,...,1914,0,98116,47.5935,-122.390,1930,4920,apartament,715.000000,203.529747
14473,2397101075,20140702T000000,782000.0,2,1.5,1570,3600,1.5,0,2,...,1906,0,98119,47.6366,-122.363,2140,3600,apartament,498.089172,217.222222

#*casas escolhidas para nao comprar*

In [ ]:
#7986400945
#2867100005	
#1794500695
#3867400180	
#2397101075

In [ ]:
df_map2 = folium.Map(location=(47.4034, -122.167), zoom_start=10)
for index,row in filtro9.iterrows():
  folium.Marker(location =(row['lat'], row['long']),popup=row['id']).add_to(df_map2)
display(df_map2)